<div class="aboveTheFold">
  <div class="aboveTheFold__decorativeChevron">
    <img src="./images/Logo.svg" alt="GAP Logo">
  </div>
  <img class="aboveTheFold__backgroundImage" src="./images/GAPIcon.svg" alt="decorative background image of a stylized structure">
  <div class="aboveTheFold__text">
    <h1>Find out if your construction business is <span class="red-text">SALE-READY</span></h1>
    <a href="https://www.gap-advisors.com/m-a-discovery-questionnaire" class="primaryCTA" target="_blank">
      Complete our Free & Confidential Questionnaire
    </a>
  </div>
</div>