<div class="cards">
  <h2>IF YOUR <span class="red-text">SELL</span> CRITERIA INCLUDES</h2>
  <div class="cards__container">
    <div class="cards__container__card">
      <div class="cards__container__card__text">
        <p>Selling for <span class="red-text">FAIR MARKET VALUE</span> or a <span class="red-text">PREMIUM</span></p>
      </div>
      <div class="cards__container__card__image cards__container__card__image--fairMarket"></div>
    </div>
    <div class="cards__container__card">
      <div class="cards__container__card__text">
        <p>Protecting your <span class="red-text">CONFIDENTIALITY</span></p>
      </div>
      <div class="cards__container__card__image cards__container__card__image--confidentiality"></div>
    </div>
    <div class="cards__container__card">
      <div class="cards__container__card__text">
        <p>Taking care of your <span class="red-text">EMPLOYEES</span></p>
      </div>
      <div class="cards__container__card__image cards__container__card__image--employees"></div>
    </div>
    <div class="cards__container__card">
      <div class="cards__container__card__text">
        <p>Protecting your <span class="red-text">LEGACY</span></p>
      </div>
      <div class="cards__container__card__image cards__container__card__image--legacy"></div>
    </div>
    <div class="cards__container__card">
      <div class="cards__container__card__text">
        <p>Selling on your <span class="red-text">TERMS</span></p>
      </div>
      <div class="cards__container__card__image cards__container__card__image--terms"></div>
    </div>
  </div>
  <h2>THEN YOU NEED A <span class="red-text">TRANSACTION ADVISER</span></h2>
  <div class="cards__transactionAdviser">
    <div class="cards__transactionAdviser__imageContainer">
      <picture>
        <img src="/images/landing/cityscape.webp" alt="A transaction adviser checking a tablet">
      </picture>
    </div>
    <div class="cards__transactionAdviser__text">
      <ul>
        <li>Who specializes in Construction M&amp;A</li>
        <li>Who has been in your shoes as a founder/owner/seller</li>
        <li>Who has a massive propriety database of buyers</li>
        <li>Who knows the underwriting criteria the buyer's lenders require</li>
        <li>Who can get the deal across the finish line</li>
      </ul>
    </div>
  </div>
</div>