<div class="howWeCanHelp">
  <h2>HOW WE CAN HELP <span class="red-text">YOU</span></h2>
  <div class="howWeCanHelp__container">
    <div class="howWeCanHelp__container__imageContainer">
      <picture>
        <img src="./images/helpYou.webp" alt="A group of constructors planning a build">
      </picture>
    </div>
    <div class="howWeCanHelp__container__text">
      <p>We surround you with a <span class="red-text">TEAM</span> that will go toe-to-toe with a buyer's team</p>
      <p>GaP custom processes are designed specifically for your market</p>
      <ul>
        <li>Negotiate for needle-moving intangibles</li>
        <li>Assess and incorporate tax implications</li>
        <li>Structure a sale that benefits each party</li>
      </ul>
      <p>We tailor our processes to <span class="red-text">YOUR</span> goals.</p>
      <p>Our financial interests are tied to yours.</p>
    </div>
  </div>
</div>