<div class="howWeCanHelp">
  <h2>HOW WE CAN HELP <span class="red-text">YOU</span></h2>
  <div class="howWeCanHelp__container">
    <div class="howWeCanHelp__container__imageContainer">
      <picture>
        <img src="/images/landing/helpYou.webp" alt="A group of constructors planning a build">
      </picture>
    </div>
    <div class="howWeCanHelp__container__text">
      <p>We surround you with a <span class="red-text">TEAM</span> that will go toe-to-toe with a buyer's team</p>
      <p>GaP custom processes are designed specifically for the Construction Market</p>
      <ul>
        <li>Integrate deal terms in <span class="red-text">YOUR</span> favor</li>
        <li>Financial acuity to defend transferable value</li>
        <li>We tailor our processes to <span class="red-text">YOUR</span> goals</li>
        <li>Our financial interests are tied to <span class="red-text" style="margin-right: 0px">YOURS</span></li>
      </ul>
    </div>
  </div>
</div>