@import './colors';

@mixin default-text {
  font-family: 'Raleway', sans-serif;
}
@mixin bolded-text {
  font-weight: bold;
  @include default-text;
}

* {
  @include default-text;
}

.red-text {
  color: $gap-red;
}

h1,h2,h3,h4,h5,h6,p {
  span.red-text {
    @media screen and (max-width: 450px) {
      display: inline-block;
      margin: 0 6px;
    }
  }
}