@import './colors';

@mixin default-text {
  font-family: 'Raleway', sans-serif;
}
@mixin bolded-text {
  font-weight: bold;
  @include default-text;
}

* {
  @include default-text;
}

.red-text {
  color: $gap-red;
}

h1 {
  span.red-text {
    display: inline-block;
    @media screen and (min-width: 451px) {
      margin: 0 7px;
    }
    @media screen and (max-width: 450px) {
      margin: 0 6px;
    }
  }
}


h2,h3,h4,h5,h6,p {
  span.red-text {
    display: inline-block;
    @media screen and (min-width: 451px) {
      margin: 0 2px;
    }
    @media screen and (max-width: 450px) {
      margin: 0 6px;
    }
  }
}