<div class="aboveTheFold">
  <div class="aboveTheFold__title">
    <h1 class="red-text">MEET</h1>
    <img src="/images/gap-nobuffer.webp" alt="Gilbert & Pardue">
  </div>
  <div class="aboveTheFold__heroImages">
    <div class="aboveTheFold__heroImages__heroImage">
      <figure>
        <a href="https://www.gap-advisors.com/team/matt-gilbert" target="_blank" aria-label="Get to know Matt Gilbert">
          <img src="/images/employees/Matt Gilbert.webp" alt="Photograph of Matt Gilbert">
        </a>
        <figcaption class="red-text">Matt Gilbert</figcaption>
        <figcaption>Founding Partner</figcaption>
        <a target="_blank" href="https://www.gap-advisors.com/team/matt-gilbert" class="aboveTheFold__heroImages__heroImage__link">Get to know Matt</a>
      </figure>
    </div>
    <div class="aboveTheFold__heroImages__heroImage">
      <figure>
        <a href="https://www.gap-advisors.com/team/bret-pardue" target="_blank" aria-label="Get to know Bret Pardue">
          <img src="/images/employees/Bret Pardue.webp" alt="Photograph of Bret Pardue">
        </a>
        <figcaption class="red-text">Bret Pardue</figcaption>
        <figcaption>Founding Partner</figcaption>
        <a target="_blank" href="https://www.gap-advisors.com/team/bret-pardue" class="aboveTheFold__heroImages__heroImage__link">Get to know Bret</a>
      </figure>
    </div>
  </div>
</div>
<div class="founderCopy">
  <p>GaP founders Matt and Bret have built construction companies from the ground up.</p>
  <p>
    In their professional past they've acquired several construction businesses and have personally sold their 
    companies to Private Equity Buyers, Competitors, and Public Companies.
  </p>
  <p>
    They know the challenges to marketing and successfully selling construction industry 
    companies. Their first-hand experience with WIP, Retainage, Safety, Progress, Billing, Estimating, Cost To Complete,
    Inventory Management, Freight, Supply Chain, Unions, Warranties, Contract Terms, 
    and Stored Materials means they are well qualified to represent a construction business like <span class="red-text" style="margin-right: 0;">YOURS</span>.
  </p>

  <p>
    At GaP, our mission is to provide better representation that consistently leads to better results. 
    Our in-house Finance, Accounting, and Marketing teams are all manned by prior business owners and seasoned executives 
    that understand the intricacies of selling a business. Our client-to-broker ratio is among the lowest in the industry.
  </p>
  <p>
    In practice, that means every engagement gets an "A-team."
  </p>
</div>
