<div class="aboveTheFold">
  <div class="aboveTheFold__title">
    <h1 class="red-text">MEET</h1>
    <img src="/images/gap-nobuffer.webp" alt="Gilbert & Pardue">
  </div>
  <div class="aboveTheFold__heroImages">
    <div class="aboveTheFold__heroImages__heroImage">
      <figure>
        <img src="/images/employees/Matt Gilbert.webp" alt="Photograph of Matt Gilbert">
        <figcaption class="red-text">Matt Gilbert</figcaption>
        <figcaption>Founding Partner</figcaption>
        <a target="_blank" href="https://www.gap-advisors.com/team/matt-gilbert" class="aboveTheFold__heroImages__heroImage__link">Learn more</a>
      </figure>
    </div>
    <div class="aboveTheFold__heroImages__heroImage">
      <figure>
        <img src="/images/employees/Brett Pardue.webp" alt="Photograph of Brett Pardue">
        <figcaption class="red-text">Brett Pardue</figcaption>
        <figcaption>Founding Partner</figcaption>
        <a target="_blank" href="https://www.gap-advisors.com/team/bret-pardue" class="aboveTheFold__heroImages__heroImage__link">Learn more</a>
      </figure>
    </div>
  </div>
</div>
<div class="founderCopy">
  <p>GaP founders Matt and Bret have built construction companies from the ground up.</p>
  <p>
    They've acquired several construction businesses and have personally sold their 
    companies to Private Equity Buyers, Competitors, and Public Companies.
  </p>
  <p>
    They know the challenges to marketing and successfully selling construction industry 
    companies- WIP, retainage, safety, progress billing, estimating, cost to complete,
    inventory management, freight supply chain, unions, warranties, contract terms, 
    stored materials, and so much more.
  </p>

  <p>
    At GaP, our mission is to provide better representation that consistently leads to better results. Our client-to-broker ratio is among the lowest in the industry.
  </p>
  <p>
    In practice, that means every engagement gets the "A-team."
  </p>
</div>
