<div class="aboveTheFold">
  <div class="aboveTheFold__title">
    <h1 class="red-text">MEET</h1>
    <img src="/images/gap-nobuffer.webp" alt="Gilbert & Pardue">
  </div>
  <div class="aboveTheFold__heroImages">
    <div class="aboveTheFold__heroImages__heroImage">
      <figure>
        <img src="/images/employees/Matt Gilbert.webp" alt="Photograph of Matt Gilbert">
        <figcaption class="red-text">Matt Gilbert</figcaption>
      </figure>
    </div>
    <div class="aboveTheFold__heroImages__heroImage">
      <figure>
        <img src="/images/employees/Brett Pardue.webp" alt="Photograph of Brett Pardue">
        <figcaption class="red-text">Brett Pardue</figcaption>
      </figure>
    </div>
  </div>
</div>