<div class="subtitle">
  <h2 class="red-text">Meet our "A" Team</h2>
</div>
<div class="team">
  <div class="team__card">
    <figure>
      <img src="/images/employees/Bruce Lancaster.webp" alt="Photograph of Bruce Lancaster">
      <figcaption class="red-text">Bruce Lancaster</figcaption>
      <figcaption>Chief Financial Officer</figcaption>
    </figure>
    <a href="https://www.gap-advisors.com/team/bruce-lancaster" target="_blank" class="team__card__link">Learn more</a>
  </div>
  <div class="team__card">
    <figure>
      <img src="/images/employees/Emma Kirchhofer.webp" alt="Photograph of Emma Kirchhofer">
      <figcaption class="red-text">Emma Kirchhofer</figcaption>
      <figcaption>Director of Strategy & Transaction Support</figcaption>
    </figure>
    <a href="https://www.gap-advisors.com/team/emma-kirchhofer" target="_blank" class="team__card__link">Learn more</a>
  </div>
  <div class="team__card">
    <figure>
      <img class="raulRizoPatronAdjustment" src="/images/employees/Raul Rizo-Patron.webp" alt="Photograph of Raul Rizo-Patron">
      <figcaption class="red-text">Raul Rizo-Patron</figcaption>
      <figcaption>Senior Deal Team Leader & Director of Buy-Side Services</figcaption>
    </figure>
    <a href="https://www.gap-advisors.com/team/raul-rizo-patron-director-of-buy-side-services" target="_blank" class="team__card__link">Learn more</a>
  </div>
  <div class="team__card">
    <figure>
      <img src="/images/employees/Jesse Jordan.webp" alt="Photograph of Jesse Jordan">
      <figcaption class="red-text">Jesse Jordan</figcaption>
      <figcaption>Financial Analyst</figcaption>
    </figure>
    <a href="https://www.gap-advisors.com/team/jesse-jordan-financial-analyst-gilbert-and-pardue-team" target="_blank" class="team__card__link">Learn more</a>
  </div>
  <div class="team__card">
    <figure>
      <img src="/images/employees/Marjory Loebe.webp" alt="Photograph of Marjory Loebe">
      <figcaption class="red-text">Marjory Loebe</figcaption>
      <figcaption>Marketing Systems and Program Manager</figcaption>
    </figure>
    <a href="https://www.gap-advisors.com/team/marjory-loebe" target="_blank" class="team__card__link">Learn more</a>
  </div>
  <div class="team__card">
    <figure>
      <img src="/images/employees/Scott Bastian.webp" alt="Photograph of Scott Bastian">
      <figcaption class="red-text">Scott Bastian</figcaption>
      <figcaption>Relationship Development</figcaption>
    </figure>
    <a href="https://www.gap-advisors.com/team/scott-bastian" target="_blank" class="team__card__link">Learn more</a>
  </div>
</div>