<link rel="stylesheet" href="/css/landing/landing.css">
<link rel="stylesheet" href="/css/landing/backgroundImages.css">
<%- include('partials/landing/aboveTheFold') %>
<div class="backgroundImage1"></div>
<%- include('partials/landing/cards') %>
<div class="backgroundImage2"></div>
<%- include('partials/landing/weCanHelp') %>
<%- include('partials/secondaryCTASection') %>
<script src="/scripts/landing.js"></script>