<div class="secondaryCTASection">
  <div class="secondaryCTASection__card">
    <h3>Find out if your business is <span class="red-text">Sale-Ready</span></h3>
    <a href="https://www.gap-advisors.com/m-a-discovery-questionnaire" target="_blank" class="secondaryCTA">
      Complete Free & Confidential Questionnaire
    </a>
    <small>Once complete we'll schedule a confidential no-obligation call to answer your questions about the M&A process and whether it's the right time for you to sell your business.</small>
  </div>
</div>