.aboveTheFold {
  h1 {
    font-size: 3em;
  }
  background-image: url(/images/our-work/bubbles.svg);
  background-position: right top;
  background-repeat: no-repeat;
  padding: 2em;
  background-size: 200px;
  max-width: 1280px;
  margin: 0 auto;

  &__industries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__industry {
      transform: translateY(-20px);
      animation: SlideDown .3s forwards;
      img {
        height: 150px;
        clip-path: circle(74px);
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}

@keyframes SlideDown {
 from {
  transform: translateY(-20px);
 } 
 to {
   transform: translateY(0px);
 }
}